<div class="navbar">
    <h1 class="heading" [routerLink]="'/home'"><i class="fa fa-terminal"></i> Georgi</h1>

    <div class="links">
        <ul>
            <li><a [routerLink]="'/home'" [routerLinkActive]="['selected-page']">Home</a></li>
            <li><a [routerLink]="'/about'" [routerLinkActive]="['selected-page']">About</a></li>
            <li><a [routerLink]="'/work'" [routerLinkActive]="['selected-page']">Work</a></li>
            <li><a [routerLink]="'/skills'" [routerLinkActive]="['selected-page']">Skills</a></li>
            <li><a [routerLink]="'/contact'" [routerLinkActive]="['selected-page']">Contact</a></li>
        </ul>
    </div>
</div>