@use "src/variables.scss" as *;

.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: $color-primary; 
    z-index: 100;

    .heading-container {
      .heading { 
        padding: 0.5rem;
        font-weight: bold;
        cursor: pointer;
        color: $color-secondary;
        white-space: nowrap;

        i {
            color: $color-primary-contrast;
        }
      }

      .mobile-view {
        display: block;
      }
      
      .mobile-view-hidden {
        display: none;
      }
    } 
    
    h1 {
        &:hover { 
            cursor: pointer;
        }
    }

    a {
        &:hover {
            border-bottom: 0.125rem solid transparent;
            cursor: pointer;
        }
    }
    
    ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        list-style: none;
        font-size: 1.25rem;
    
        li > a {
            margin: 0;
            padding: 0.375rem 0.75rem;
            text-decoration: none;
            white-space: nowrap;
            color: $color-secondary-contrast;
            font-weight: bold;

            &:hover {
                border-bottom: $color-primary-contrast 0.125rem solid;
            }
        }
    }
}

.links { 
  .mobile-view {
    display: block;
  }
  .mobile-view-hidden {
    display: none;
  }

  .desktop-view {
    display: block;
  }
  .desktop-view-hidden {
    display: none;
  }
} 

.selected-page {
    border-bottom: $color-primary-contrast 0.125rem solid;
}

//Tablets and smaller
@media screen and (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: center; 
    }
}

//Smartphones
@media screen and (max-width: 500px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;

        .heading-container {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-between;
        } 
    }

    .links {
        padding: 0;
        font-size: 0.9375rem;

        .language-options-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .heading {
        margin: 0.3125rem;
        font-size: 1.25rem;
    }

    p {
        margin: 0.3125rem;
    }

    h1 {
        padding: 0.5rem;
    }

    .links > ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        list-style: none;
        margin: 0.5rem;
        font-size: 0.9375rem;
    }
    
}