.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: #cedef1;
    opacity: 0.5;
    z-index: 100;
}

.heading { 
    padding: 0 32px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    white-space: nowrap;
}

.navbar h1:hover {
    color: blue;
}

ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style: none;
    font-size: 20px;

    li > a {
        margin: 0;
        padding: 8px 16px;
        border-bottom: 2px solid transparent;
        text-decoration: none;
        white-space: nowrap;
        color: #333;
        font-weight: bold;
    }
}

.navbar a:hover {
   color: blue;
}