.footer {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    padding: 16px 0;
    text-align: center;
    background: #cedef1;
    opacity: 0.5;
    color: #333;
}

.footer a {
    color: #333;
}

.footer a:hover {
    color: blue;
}

.footer .social > * {
    margin-right: 30px;
}

.footer p {
    font-size: 1.25rem;
    margin-bottom: 6px;
}

.social {
    font-size: 1.25rem;
}

//Smartphones
@media screen and (max-width: 500px) {
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .social {
        padding-top: 5px;
    }

    .social > p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8px;
    }
}