<app-header></app-header>

<div class="container">
  <h2><i class="fa fa-graduation-cap"></i>{{ "about.header" | translate }}</h2>
</div>

<div class="university">
  <div class="university-card">
    <img src="../../assets/images/tu.png" alt="" />
    <h3>{{ "about.universityNameOne" | translate }}</h3>
    <p>{{ "about.universitySpecialtyOne" | translate }}</p>
  </div>
  <div class="university-card">
    <img src="../../assets/images/soft.png" alt="" />
    <h3>{{ "about.universityNameTwo" | translate }}</h3>
    <p>{{ "about.universitySpecialtyTwo" | translate }}</p>
  </div>
  <div class="university-card">
    <img src="../../assets/images/udemy.png" alt="" />
    <h3>{{ "about.universityNameThree" | translate }}</h3>
    <p>{{ "about.universitySpecialtyThree" | translate }}</p>
  </div>
</div>

<app-footer></app-footer>
