@use "src/variables.scss" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    margin-top: 3rem;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

h2 {
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    color: $color-primary-dark-text; 
} 

h3 {
    display: block;
    font-weight: bold;
    font-size: 1.25rem;
    margin: 1rem;
    color: $color-primary-dark-text;
}

p {
    font-size: 1rem;
}

i { 
    margin: 1rem;
}

.university {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 8.5rem;
}

img {
       max-height: 7rem;
       min-height: 7rem;
    max-width: 11rem;
    object-fit: contain;
}

.university-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15.625rem;
    margin: 1.5rem;
    padding: 1rem; 
    text-align: center;
    border-radius: 0.625rem;
    color: $color-primary-dark-text;
    overflow: hidden;

    h3 {
        color: $color-secondary-tint;
    }

    p {
        color: $color-primary-tint;
    }
}

// .university-card img:hover {
//     animation: spin 4s linear infinite;
    
//     @keyframes spin {
//         100% {
//             transform: rotate(180deg);
//         }
//     }
// }

//Tablets and smaller
@media screen and (max-width: 800px) {
    .container {
        margin-top: 1.5rem;
    }

    .container > h2 {
        font-size: 2rem;
    }

    .university {
        margin-top: 2rem;
        flex-direction: column;
    }
}

//Smartphones
@media screen and (max-width: 500px) {
    .container {
        margin-top: 1.5rem;
    }

    .container > h2 {
        font-size: 1.5rem;
    }

    .university {
        flex-direction: column;
        margin: 2.1875rem;
    }
}