* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    margin-top: 48px;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

h2 {
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    opacity: 0.5;
}

.container h2:hover, i:hover {
    cursor: pointer;
    color: blue;
}

h3 {
    display: block;
    font-weight: bold;
    font-size: 20px;
    margin: 16px;
    color: #333;
}

p {
    font-size: 16px;
}

i {
    opacity: 0.5;
    margin: 16px;
}

.university {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 136px;
}

img {
    height: 140px;
    margin-bottom: 24px;
}

.university-card {
    position: relative;
    display: inline-block;
    width: 250px;
    margin: 24px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    color: #333;
    overflow: hidden;
}

.university-card img:hover {
    animation: spin 4s linear infinite;
    
    @keyframes spin {
        100% {
            transform: rotate(180deg);
        }
    }
}