* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contact-header {
    flex-direction: row;
    justify-content: center;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #333;
    opacity: 0.5;
    margin-top: 48px;

    &:hover {
        color: blue;
        opacity: 0.5;
        cursor: pointer;
    }
}

.contact-cards {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card {
    display: flex;
    margin: 20px;
    padding: 20px;
    border-radius: 16px;
    background: blue;
    opacity: 0.5;
    color: #fff;
    width: 20%;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.card a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.contact-input {
    width: 100%;
}

input {
    background-color: #f4f4f4;
    border: 1px solid #9f9b9b;
    font-size: 1rem;
    outline: none;
    padding: 16px;
    margin: 20px;
    border-radius: 10px;
    width: 50%;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 108px;
}

textarea {
    background-color: #f4f4f4;
    border: 1px solid #9f9b9b;
    font-size: 1rem;
    outline: none;
    padding: 16px;
    border-radius: 10px;
    margin: 20px;
    width: 50%;
    height: 100px;
}

button {
    background-color: #f4f4f4;
    border: none;
    font-size: 24px;
    outline: none;
    padding: 10px;
    color: blue;
    opacity: 0.5;
    border-radius: 10px;
    cursor: pointer;
    width: 20%;

    &:hover {
        background: blue;
        opacity: 0.5;
        color: #fff;
        cursor: pointer; 
    }
}

i {
    font-size: 24px;
    margin-right: 10px;
}

@media screen and (max-width: 500px) {
    .container {
        flex-wrap: nowrap;
    }

    .contact-header {
        margin-top: 24px;
    }

    .contact-header > h2 {
        font-size: 32px;
    }

    .contact-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 32px;
        width: auto;
    }

    .card {
        width: 100%;
        margin: 12px;
    }

    .card > a {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }

    .card > i {
        font-size: 20px;
    }

    .input-box {
        margin-top: 0;
        margin-bottom: 133px;
        padding: 0;
    }

    .contact-input {
        width: 150%;
    }

    button {
        width: 40%;
    }
}