@use "src/variables.scss" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contact-header {
    flex-direction: row;
    justify-content: center;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: $color-primary-dark-text; 
    margin-top: 3rem; 
}

.contact-header > h2 {
    font-size: 2.5rem;
}

.contact-cards {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card {
    display: flex;
    margin: 1.25rem;
    padding: 1.25rem;
    border-radius: 1rem;
    background: $color-primary-contrast; 
    color: #fff; 
    justify-content: center;
    text-align: center;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0.3125rem 0.625rem rgb(5 5 5 / 30%);
    }
}

.card > a {
    color: $color-primary-dark-text;
}

.card a {
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
}

.contact-input {
    width: 100%;
}

input {
    background-color: #f4f4f4;
    border: 1px solid #9f9b9b;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
    margin: 1.25rem;
    border-radius: 0.625rem;
    width: 50%;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.625rem;
    width: 100%;
    margin-top: 2.1875rem;
    margin-bottom: 7.3125rem;
}

textarea {
    background-color: #f4f4f4;
    border: 1px solid #9f9b9b;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
    border-radius: 0.625rem;
    margin: 1.25rem;
    width: 50%;
    height: 6.25rem;
}

button {
    background-color: #f4f4f4;
    border: none;
    font-size: 1.5rem;
    outline: none;
    padding: 0.625rem;
    color: $color-primary-contrast; 
    border-radius: 0.625rem;
    cursor: pointer;
    width: 20%;

    &:hover {
        background: $color-primary-contrast; 
        color: #fff;
        cursor: pointer; 
    }
}

i {
    font-size: 1.5rem;
    margin-right: 0.625rem;
}

@media screen and (max-width: 1200px) {
    .contact-cards {
        flex-direction: column;
    }

    .card {
        width: 35%;
    }
}

//Tablets
@media screen and (max-width: 800px) {

    .contact-header {
        margin-top: 3rem;
    }

    .contact-header > h2 {
        font-size: 2rem;
    }

    .contact-cards {
        margin-top: 2rem;
        flex-direction: column;
    }

    .card {
        width: 50%;
    }

    input {
        width: 60%;
    }

    textarea {
        width: 60%;
    }

    button {
        width: 30%;
    }
}

//Smartphones
@media screen and (max-width: 500px) {
    .container {
        flex-wrap: nowrap;
        margin-bottom: 7.5rem;
    }

    .contact-header {
        margin-top: 1.5rem;
    }

    .contact-header > h2 {
        font-size: 1.5rem;
    }

    .contact-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 2rem;
        width: auto;
    }

    .card {
        width: 100%;
        margin: 0.75rem;
    }

    .card > a {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 1.125rem;
    }

    .card > i {
        font-size: 1.25rem;
    }

    .input-box {
        margin-top: 0;
        margin-bottom: 8.3125rem;
        padding: 0;
    }

    // .contact-input {
    //     // width: 150%;
    // }

    button {
        width: 40%;
    }
}