* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    // display: flex;
    // flex-direction: row;
    margin-top: 1.5rem;
    margin-bottom: 8.875rem;
}

.heading {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3.125rem;
    margin-top: 3rem;
}

h2 {
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    opacity: 0.5;
}

h2:hover {
    cursor: pointer;
    color: blue;
}

.projects {
    display: flex;
    // flex-direction: row;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    background: #cedef1;
    color: #fff;
    cursor: pointer;
    border-radius: 0.625rem;
    margin: 1.25rem;
    padding: 0.625rem;
    width: 18.125rem;

    &:hover {
        box-shadow: 0 5px 10px rgb(5 5 5 / 30%);
    }
}

img {
    width: 16.25rem;
    height: 16.25rem;
    border-radius: 0.625rem;
    object-fit: cover;

    // &:hover {

    // }
}

h4 {
    margin: 1rem;
    font-size: 1.5rem;
    color: #fff;
}
.info {
    margin-bottom: 0.5rem;
}

.shader {
    opacity: 0;
    display: flex;
}

i {
    color: #333;

    &:hover {
        color: blue;
        opacity: 0.5;
    }
}

@media screen and (max-width: 1200px) {
    .projects {
        flex-direction: column;
        align-items: center;
    }
}

//Tablets
@media screen and (max-width: 800px) {
    .container {
        margin-top: 1.5rem;
    }

    .heading > h2 {
        font-size: 2rem;
    }

    .projects {
        flex-direction: column;
    }
}

//Smartphones
@media screen and (max-width: 500px) {
    .heading {
        margin: 1.5rem;
    }

    .heading > h2 {
        font-size: 1.5rem;
    }

    .projects {
        flex-direction: column;
    }

    .card {
        width: 15.9375rem;
    }

    .img > img {
        width: 14.0625rem;
        height: 14.0625rem;
    }

    .img > a {
        font-size: 1.875rem;
    }
}