* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    // display: flex;
    // flex-direction: row;
    margin-top: 24px;
    margin-bottom: 142px;
}

.heading {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 50px;
    margin-top: 48px;
}

h2 {
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    opacity: 0.5;
}

h2:hover {
    cursor: pointer;
    color: blue;
}

.projects {
    display: flex;
    // flex-direction: row;
    margin-top: 24px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    background: #cedef1;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    width: 290px;

    &:hover {
        box-shadow: 0 5px 10px rgb(5 5 5 / 30%);
    }
}

img {
    width: 260px;
    height: 260px;
    border-radius: 10px;
    object-fit: cover;

    &:hover {

    }
}

h4 {
    margin: 16px;
    font-size: 24px;
    color: #fff;
}
.info {
    margin-bottom: 8px;
}

.shader {
    opacity: 0;
    display: flex;
}

i {
    color: #333;

    &:hover {
        color: blue;
        opacity: 0.5;
    }
}

@media screen and (max-width: 500px) {
    .heading {
        margin: 24px;
    }

    .heading > h2 {
        font-size: 24px;
    }

    .projects {
        flex-direction: column;
    }

    .card {
        width: 255px;
    }

    .img > img {
        width: 225px;
        height: 225px;
    }

    .img > a {
        font-size: 30px;
    }
}