@use "src/variables.scss" as *;

.language-options-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1rem;

  .language-button {
    width: 1rem;
    height: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0; 

    img {
        max-width: 3.3rem; 
        max-height: 3.3rem;
    }

    &:first-child{
        margin-right: 1rem;
    }
  } 

  .button-default { 
      font-size: 0.8rem;
      font-weight: 600;
      color: gray;
  }

  .button-clicked {
      color: $color-primary-contrast;
  }
} 