<div class="heading">
  <h2><i class="fa fa-book"></i>{{ "skills.header" | translate }}</h2>
</div>
<div class="container">
  <div class="skills-container"> 
     <div class="skill-card">
      <img src="../../assets/svg/js.svg" alt="" />
      <p>{{ "skills.technologyOne" | translate }}</p>
    </div>
    <div class="skill-card">
      <img src="../../assets/svg/typescript.svg" alt="" />
      <p>{{ "skills.technologyTwo" | translate }}</p>
    </div>
    <div class="skill-card">
      <img src="../../assets/svg/html.svg" alt="" />
      <p>{{ "skills.technologyThree" | translate }}</p>
    </div>
    <div class="skill-card">
      <img src="../../assets/svg/css.svg" alt="" />
      <p>{{ "skills.technologyFour" | translate }}</p>
    </div>
    <div class="skill-card">
      <img src="../../assets/svg/angular.svg" alt="" />
      <p>{{ "skills.technologyFive" | translate }}</p>
    </div>
    <div class="skill-card">
      <img src="../../assets/svg/ionic.svg" alt="" />
      <p>{{ "skills.technologySix" | translate }}</p>
    </div>  
  </div>
  <div class="skills-container"> 
      <div class="skill-card">
      <img src="../../assets/svg/git.svg" />
      <p>{{ "skills.technologyEight" | translate }}</p>
    </div>
    <div class="skill-card">
      <img src="../../assets/svg/npm.svg" alt="" />
      <p>{{ "skills.technologyNine" | translate }}</p>
    </div>
    <div class="skill-card">
      <img src="../../assets/svg/webpack.svg" alt="" />
      <p>{{ "skills.technologyTen" | translate }}</p>
    </div>
    <div class="skill-card">
      <img src="../../assets/svg/swagger.svg" alt="" />
      <p>{{ "skills.technologyEleven" | translate }}</p>
    </div> 
  </div> 
  <!-- <div class="experience-container">
    <div class="section">
      <div class="year">
        <h4>{{ "skills.periodOne" | translate }}</h4>
      </div>
      <div class="company">
        {{ "skills.seniorityOne" | translate }}
      </div>
      <p>
        {{ "skills.companyNameOne" | translate }}
      </p>
    </div>
    <div class="section">
      <div class="year">
        <h4>{{ "skills.periodTwo" | translate }}</h4>
      </div>
      <div class="company">
        {{ "skills.seniorityTwo" | translate }}
      </div>
      <p>
        {{ "skills.companyNameOne" | translate }}
      </p>
    </div>
  </div> -->

  <div class="chart">
    <canvas class="chart-element" #chart></canvas>
  </div>
</div>
