* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.heading {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    margin-bottom: 162px;
    // width: 50%;
}

h2 {
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    opacity: 0.5;
}

h2:hover {
    cursor: pointer;
    color: blue;
}

p {
    color: #333;
    opacity: 0.5;
    font-size: 20px;

    &:hover {
        color: blue;
        opacity: 0.5;
    }
}

.skills-container {
    display: flex;
    align-items: center;
    margin: 24px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
}

.experience-container {
    display: flex;
    margin: 24px;
    flex-wrap: wrap;
}

.skill-card {
    position: relative;
    margin: 24px;
    cursor: pointer;
    text-align: center;
    border-radius: 16px;
    overflow: hidden;
}

.skill-card img:hover {
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(57, 175, 221, 0.4);
}

img {
    width: 120px;
    height: 120px;
    border-radius: 16px;
}

.section {
    flex-direction: row;
    align-items: flex-start;
    text-align: start;
    margin-top: 15px;
}

.company {
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    opacity: 0.5;
}

.year {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color: blue;
    opacity: 0.5;
}