<app-header></app-header>
<div class="heading">
  <h2><i class="fa fa-book"></i>{{ "skills.header" | translate }}</h2>
</div>
<div class="container">
  <div class="skills-container">
    <div class="skill-card">
      <img src="../../assets/images/js.png" alt="" />
      <p>{{ "skills.technologyOne" | translate }}</p>
    </div>
    <div class="skill-card">
      <img src="../../assets/images/ts.png" alt="" />
      <p>{{ "skills.technologyTwo" | translate }}</p>
    </div>
    <div class="skill-card">
      <img src="../../assets/images/html.png" alt="" />
      <p>{{ "skills.technologyThree" | translate }}</p>
    </div>
    <div class="skill-card">
      <img src="../../assets/images/css.png" alt="" />
      <p>{{ "skills.technologyFour" | translate }}</p>
    </div>
    <div class="skill-card">
      <img src="../../assets/images/angular.png" alt="" />
      <p>{{ "skills.technologyFive" | translate }}</p>
    </div>
    <div class="skill-card">
      <img src="../../assets/images/ionic.png" alt="" />
      <p>{{ "skills.technologySix" | translate }}</p>
    </div>
    <div class="skill-card">
      <img src="../../assets/images/sass.png" alt="" />
      <p>{{ "skills.technologySeven" | translate }}</p>
    </div>
    <div class="skill-card">
      <img src="../../assets/images/git.png" />
      <p>{{ "skills.technologyEight" | translate }}</p>
    </div>
  </div>
  <div class="experience-container">
    <div class="section">
      <div class="year">
        <h4>{{ "skills.periodOne" | translate }}</h4>
      </div>
      <div class="company">
        {{ "skills.seniorityOne" | translate }}
      </div>
      <p>
        {{ "skills.companyNameOne" | translate }}
      </p>
    </div>
    <div class="section">
      <div class="year">
        <h4>{{ "skills.periodTwo" | translate }}</h4>
      </div>
      <div class="company">
        {{ "skills.seniorityTwo" | translate }}
      </div>
      <p>
        {{ "skills.companyNameOne" | translate }}
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>
