$color-primary: #0D1117; 
$color-primary-dark: #161B22; 
$color-primary-text: #C9D1D9; 
$color-primary-dark-text: #8B949E; 
$color-primary-contrast: #58A6FF; 
$color-primary-tint: #3FB950;
 
$color-secondary: #d2a8ff;  
$color-secondary-tint: #e3b341; 
$color-secondary-contrast: #ffa657;  
$color-secondary-danger: #ff7b72; 
$color-secondary-danger-tint: #ff5900; 