$color-primary: #0d1117;
$color-primary-dark: #161b22;
$color-primary-text: #c9d1d9;
$color-primary-dark-text: #8b949e;
$color-primary-contrast: #58a6ff;
$color-primary-contrast-light: #fff;
$color-primary-tint: #3fb950;

$color-secondary: #d2a8ff;
$color-secondary-tint: #e3b341;
$color-secondary-contrast: #ffa657;
$color-secondary-danger: #ff7b72;
$color-secondary-danger-tint: #ff5900;
