.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 98px;

    // @media screen and (max-width: 768px) {
    //     width: 100%;
    //     margin: 0 0 16px 0;
    // }
}

img {
    object-fit: contain;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    margin: 24px;
    cursor: pointer;

    &:hover {
        box-shadow: 0 5px 10px rgb(5 5 5 / 30%);
    }
}

.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.techniques {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technique1 {
    margin-right: 70px;
    display: flex;
    align-items: center;
}

.technique2 {
    margin-left: 70px;
    display: flex;
    align-items: center;
}

.technique3 {
    display: flex;
    align-items: center;
}

.technique1 > img {
    width: 145px;
    height: 145px;
    border-radius: 50%;
}

.technique2 > img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.technique3 > img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.personal-info {
    position: relative;
    display: flex;
    width: fit-content;
    font-size: 24px;
    line-height: 32px;
    background: #333;
    opacity: 0.5;
    color: #fff;
    border-radius: 25px;
    margin: 8px;
    cursor: pointer;

    &:hover {
        color: blue;
        opacity: 0.5;
        box-shadow: 0 5px 10px rgb(5 5 5 / 30%);
        background: #fff;
    }
}

p {
    padding-left: 15px;
    padding-right: 15px;
}

//Smartphones
@media screen and (max-width: 500px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heading {
        margin: 5px;
        font-size: 15px;
    }

    .heading > h1 {
        margin: 8px;
        font-size: 20px;
    }

    .links {
        padding: 2px;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 2px;
        margin-bottom: 35px;
    }
    
    .photo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 8px;
    }

    .photo > img {
        width: 170px;
        height: 170px;
        margin: 5px;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 8px;
    }

    .personal-info {
        margin: 5px;
        font-size: 20px;
    }

    .techniques {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .technique1 {
        display: flex;
        align-items: center;
        margin-right: 85px;
    }

    .technique2 {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    .technique3 {
        display: flex;
        align-items: center;
        margin-right: 50px;
    }

    .technique1 > img {
        width: 130px;
        height: 130px;
        margin: 5px;
        border-radius: 50%;
    }

    .technique2 > img {
        width: 110px;
        height: 110px;
        margin: 5px;
        border-radius: 50%;
    }

    .technique3 > img {
        width: 110px;
        height: 110px;
        margin: 5px;
        border-radius: 50%;
    }

    .footer {
        padding: 2px;
    }

    .footer > p {
        margin: 5px;
    }

    .social > a {
        margin-top: 5px;
    }

    .social > p {
        margin: 8px;
    }

    p {
        margin: 5px;
    }
    
}