<div class="container">
  <div class="about-me">
    <span class="personal-info" id="first-span">
      <p class="orange">{{ "home.const" | translate }}</p>
      <p class="white">{{ "home.me" | translate }}</p>
      <p class="orange">{{ ":" }}</p>
      <p class="purple">{{ "home.myself" | translate }}</p>
      <p class="orange">{{ "=" }}</p>
      <p class="yellow">{{ "{" }}</p>
    </span>
    <span class="personal-info" id="first-span">
      <p>"{{ "home.greet" | translate }}": "{{ "home.header" | translate }}"</p>
    </span>
    <span class="personal-info" id="second-span">
      <p>"{{ "home.keyName" | translate }}": "{{ "home.name" | translate }}"</p>
    </span>
    <!-- <span class="personal-info" id="third-span">
      <p>"{{ "greet" }}": {{ "home.am" | translate }}</p>
    </span> -->
    <span class="personal-info" id="fourth-span">
      <p>
        "{{ "home.role" | translate }}": "{{ "home.developer" | translate }}"
      </p>
    </span>
    <span class="personal-info" id="fourth-span">
      <p class="yellow">{{ "}" }}</p>
    </span>
  </div>

  <div class="photo">
    <img class="my-img" src="../../assets/images/myImg.jpg" alt="" />
  </div>

  <div class="techniques">
    <div class="technique1">
      <img src="../../assets/svg/angular.svg" alt="" />
    </div>
    <div class="technique2">
      <img src="../../assets/svg/ionic.svg" alt="" />
    </div>
    <div class="technique3">
      <img src="../../assets/svg/typescript.svg" alt="" />
    </div>
  </div>
</div>